@media (max-width: 768px) {
    #game-container { width: 100%; height: 100vh; max-width: none; border: none; }
    #main-screen-area { top: 50px; height: calc(100% - 50px); }
    .nav-text { display: none; }
}