@media (max-width: 768px) {
    #game-container { width: 100%; height: 100vh; max-width: none; border: none; }
    #main-screen-area { top: 50px; height: calc(100% - 50px); }
    .nav-text { display: none; }
	
	/* Global Uyarı Penceresi Hiyerarşisi */
#global-modal {
    z-index: 10000 !important; /* Her şeyin üzerinde olması için en yüksek değer */
}

/* Modal arka planının (karartmanın) tüm ekranı kapladığından emin olalım */
#global-modal.npc-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.85); /* Arkadaki menüleri karartır */
    display: none; /* JS ile açılacak */
    justify-content: center;
    align-items: center;
}

#global-modal:not(.hidden) {
    display: flex !important;
}

/* Butonların yan yana durması için küçük bir fix */
#g-modal-actions button {
    margin-left: 0 !important; /* components.css'den gelen margin'i sıfırla */
    min-width: 100px;
}
}